<html>

<head>
	<title>모든 포트폴리오</title>
</head>

<body>

<center>

<h3>등록된 모든 포트폴리오</h3>

<br>
<!-- <a th:href="@{/login(user=${guser})}">뒤로</a> <br> -->
<br><hr><br>
<table border="1" width="900">

<tr>
	<th width="50">Index</th>
	<th width="200">프로젝트명</th>
	<th width="150">프로젝트 기간</th>
	<th width="400">설명</th>
	<th width="100">참여도</th>
	<th width="100">사용언어</th>
	<th width="100">사용툴</th>
	<th width="50">DBMS</th>
	<th width="150">참조링크</th>
	<th width="100">분야</th>
</tr>
	<tr th:each="pf : ${portfolioList}">
		<td th:text="${pf.pfSeq}"></td>
		<td th:text="${pf.pfSubtitle}"></td>
		<td th:text="${pf.pfDuration}"></td>
		<td th:text="${pf.pfDescription}"></td>
		<td th:text="${pf.participation}"></td>
		<td th:text="${pf.pfLang}"></td>
		<td th:text="${pf.pfTools}"></td>
		<td th:text="${pf.pfDbms}"></td>
		<td th:text="${pf.pfLink}"></td>
		<td th:text="${pf.pfCategory}"></td>
	</tr>

</table>
<hr>

<input type="button" value="포트폴리오 등록" onclick="location.href='/portfoliocrud/portfolioinsert.html'"> &nbsp;&nbsp;
<input type="button" value="포트폴리오 수정" onclick="location.href='/updatePortfolio'"> &nbsp;&nbsp;
<input type="button" value="포트폴리오 삭제" onclick="location.href='/deletePortfolio'"> &nbsp;&nbsp;

<input type="button" value="메인 세션" onclick="location.href='/index.html'"> &nbsp;&nbsp;

</center>

</body>

</html>