<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>포트폴리오 정보</title>
</head>

<body>
	<hr>
	<h3>포트폴리오 정보</h3>
	<hr><br>

	<table border="1" width="700">

		<tr>
			<th width="100">포트폴리오idx</th>
			<th width="100">프로젝트명</th>
			<th width="100">프로젝트기간</th>
			<th width="100">설명</th>
			<th width="100">참여도</th>
			<th width="100">사용언어</th>
			<th width="100">사용툴</th>
			<th width="100">DBMS</th>
			<th width="100">참조링크</th>
			<th width="100">분야</th>
		</tr>

		<tr>
			<!--	<td align="left"><a href="getBoard?seq=${user.name}">${user.name}</a></td> -->
			<!-- <td th:text="${portfolio.pfSeq}"></td>
			<td th:text="${portfolio.pfSubtitle}"></td>
			<td th:text="${portfolio.pfDuration}"></td>
			<td th:text="${portfolio.pfDescription}"></td>
			<td th:text="${portfolio.participation}"></td>
			<td th:text="${portfolio.pfLang}"></td>
			<td th:text="${portfolio.pfTools}"></td>
			<td th:text="${portfolio.pfDbms}"></td>
			<td th:text="${portfolio.pfLink}"></td>
			<td th:text="${portfolio.pfCategory}"></td> -->

			<td th:if="${portfolios != null}" th:text="${portfolios.pfSeq}"></td>
			<td th:unless="${portfolios != null}" th:text="${guser.pfSeq}"></td>

			<td th:if="${portfolios != null}" th:text="${portfolios.pfSubtitle}"></td>
			<td th:unless="${portfolios != null}" th:text="${guser.pfSubtitle}"></td>

			<td th:if="${portfolios != null}" th:text="${portfolios.pfDuration}"></td>
			<td th:unless="${portfolios != null}" th:text="${guser.pfDuration}"></td>

			<td th:if="${portfolios != null}" th:text="${portfolios.pfDescription}"></td>
			<td th:unless="${portfolios != null}" th:text="${guser.pfDescription}"></td>

			<td th:if="${portfolios != null}" th:text="${portfolios.participation}"></td>
			<td th:unless="${portfolios != null}" th:text="${guser.participation}"></td>

			<td th:if="${portfolios != null}" th:text="${portfolios.pfLang}"></td>
			<td th:unless="${portfolios != null}" th:text="${guser.pfLang}"></td>

			<td th:if="${portfolios != null}" th:text="${portfolios.pfTools}"></td>
			<td th:unless="${portfolios != null}" th:text="${guser.pfTools}"></td>

			<td th:if="${portfolios != null}" th:text="${portfolios.pfDbms}"></td>
			<td th:unless="${portfolios != null}" th:text="${guser.pfDbms}"></td>

			<td th:if="${portfolios != null}" th:text="${portfolios.pfLink}"></td>
			<td th:unless="${portfolios != null}" th:text="${guser.pfLink}"></td>

			<td th:if="${portfolios != null}" th:text="${portfolios.pfCategory}"></td>
			<td th:unless="${portfolios != null}" th:text="${guser.pfCategory}"></td>

		</tr>

	</table>

	<hr><br>
	<!-- <input name="name" type="button" value="로그아웃" onclick="location.href='/logout'"> -->
	<!-- <a href="portfolio/portfolioinsert.html">포트폴리오 작성</a> <br> -->
	<a href="index.html">메인으로 이동</a> <br>

</body>

</html>