<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>포트폴리오 정보</title>
</head>

<body>
	<hr>
	<h3>포트폴리오 정보</h3>
	<hr><br>

	<table border="1" width="700">

		<tr>
			<th width="100">포트폴리오idx</th>
			<th width="100">프로젝트명</th>
			<th width="200">프로젝트기간</th>
			<th width="150">설명</th>
			<th width="150">참여도</th>
			<th width="150">사용언어</th>
			<th width="150">사용툴</th>
			<th width="150">DBMS</th>
			<th width="150">참조링크</th>
			<th width="150">분야</th>
		</tr>

		<tr>
			<!--	<td align="left"><a href="getBoard?seq=${user.name}">${user.name}</a></td> -->
			<td th:text="${pf.pfSeq}"></td>
			<td th:text="${pf.pfSubtitle}"></td>
			<td th:text="${pf.pfDuration}"></td>
			<td th:text="${pf.pfDescription}"></td>
			<td th:text="${pf.participation}"></td>
			<td th:text="${pf.pfLang}"></td>
			<td th:text="${pf.pfTools}"></td>
			<td th:text="${pf.pfDbms}"></td>
			<td th:text="${pf.pfLink}"></td>
			<td th:text="${pf.pfCategory}"></td>

		</tr>

	</table>

	<hr><br>
	<!-- <input name="name" type="button" value="로그아웃" onclick="location.href='/logout'"> -->
	<a href="pfcrud/pfinsert.html">포트폴리오 작성</a> <br>
	<a href="index.html">메인으로 이동</a> <br>

</body>

</html>