<!DOCTYPE html>
<html>
​
<head>
	<meta charset="UTF-8">
	<title>test</title>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
​
<body>
​
	<h2>망할 놈의 vue</h2>
​
	<div id="app">{{message}}
​
		<h1>
			# 전체 User Table # &nbsp;&nbsp;
			<button onclick="step()">조회</button>
		</h1>
		<br>
​
		<h2>받아온 값 전체 보기</h2>
​
​
		<span v-for="m in model"> {{m}} <br>
		</span> <br>
		<hr>
​
​
​
​
	</div>
​
	<script type="text/javascript">
​
		let vm = new Vue({
			el: "#app",
			data: {
				model: [],
				name: "",
				result: []
			},
			methods: {
​
				avgsal: function () {
					if (this.model.length === 0) {
						return 0
					}
					return this.model.
						reduce((sum, v) => sum + parseFloat(v.salary), 0) / this.model.length
				},
				sumsal: function () {
					if (this.model.length === 0) {
						return 0
					}
					return this.model.
						reduce((sum, v) => sum + parseFloat(v.salary), 0)
				},
				namefilter: function () {
					this.result = this.model.filter((value, index, array) => value.firstname === this.name)
					if (this.result.length === 0) {
						return "해당 이름 결과 없음"
					} else {
						return this.result
					}
				},
				namesal: function () {
					if (this.result.length !== 0) {
						return this.result.
							reduce((sum, v) => sum + parseFloat(v.salary), 0) / this.result.length
					} else {
						return "해당 이름 평균 결과 없음"
					}
				}
			}
		});
		// axios
		function step() {
​
			axios.get("http://localhost/getuserlistaxios", {
			}).then(response => {
				//뷰 인스턴스가 생성된 이후 원래 데이터 객체는 vm.$data로 접근할 수 있습니다
				vm.$data.model = response.data
​
            }).catch(error => {
					console.log("에러" + error)
				})
		}
	</script>
​
</body>
​
</html>